.div{
    background-color: blue
    height: 100px;
    width: 100px;
    position: absolute;
    :left 125px
}
.div{
    background-color: blue
    height: 100px;
    width: 100px;
    position: absolute;
    